<div class="about-titles">
    <h2>À propos de MiniDcode</h2>
    <h3><span class="green">Encoder/Décoder</span> où vous voulez et quand vous voulez.</h3>
</div>
<div class="about">
    <div class="about-about">
        <h4><span class="green">À</span> propos de MiniDcode<span class="green">:</span></h4>
        <p>MiniDcode, site de conversion numérique, libre, open-source, développé par Sorgiati Sacha et Van Den Bosch Théo. Site web; protocole http; type de back-end: python-cgifiles; niveaux de sécurité: faible; version: 1.0.0.1</p>
    </div>
    <div class="about-update">
        <h4><span class="green">M</span>ise à jour<span class="green">:</span></h4>
        <ul>
            <li>Mise en place du CSS</li>
            <li>Restructuration du code HTML</li>
            <li>Ajout de la conversion ASCII</li>
            <li>Suppression du 'dashboard' pour les convertions lié à l'ajout des convertions sur 1 seule page</li>
            <li>Convertions sur une seule page</li>
        </ul>
    </div>
    <div class="about-nav">
        <h4><span class="green">P</span>oursuivre la navigation<span class="green">:</span></h4>
        <ul>
            <li><a href="">Accueil</a></li>
        </ul>
    </div>
</div>