<div class="main-titles">
    <h2>Bienvenue sur MiniDcode</h2>
    <h3><span class="green">Encoder / Décoder</span> où vous voulez et quand vous voulez.</h3>
</div>
<article class="main">
    <div class="main-what">
        <h4><span class="green">C</span>'est quoi MiniDcode<span class="green">?</span></h4>
        <p>MiniDCode est un site qui consiste à convertir différentes bases numériques en d’autres, permettant donc à la fois d’encoder et de décoder sous différentes bases en jonglant entre elles grâce au convertisseur, par exemple convertir de l'ASCII en binaire, du binaire en décimal, etc…</p>
    </div>
    <div class="main-services">
        <h4><span class="green">C</span>hoissisez un service<span class="green">:</span></h4>
        <p><a href="converter.py">Convertisseur</a></p>
    </div>
    <div class="main-why">
        <h4><span class="green">À</span> quoi ça sert<span class="green">?</span></h4>
        <p>C'est un outil très pratique pour passer d’une base à une autre très rapidement, combinant donc à la fois un énorme gain de temps et une grande simplicité d’usage, ce qui peut s’avérer très utile dans les projets faramineux comme basiques, c’est ce qui fait l’efficacité de MiniDCode, il est utilisable partout, n’importe quand, par n’importe qui et pour n’importe quel type de projet, de plus, il est très simple d’accès et d’usage !</p>
    </div>
    <div class="main-about">
        <h4><span class="green">P</span>our plus d'informations<span class="green">:</span></h4>
        <p>Consulter la rubrique <a href="about.py">À propos</a>.</p>
    </div>
</article>